.right-side_container {
    @media screen and (min-width: 768px) and (min-height: 540px) {
        max-width: 480px;
    }

    .title {
        margin-bottom: 16px;
    }

    .login-form {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        margin-top: 32px;

        .form-field {
            width: 100%;

            .mat-icon {
                color: #979EAB;
            }
        }

        .sr-kit_button {
            width: 100%;
            max-width: 320px;
            display: block;
            margin: 48px auto 16px;
        }

        .sr-kit_link {
            align-self: flex-end;
        }
    }
}
