.login-wrapper {
    display: flex;
    flex-flow: row nowrap;

    .left-side {
        display: none;
        min-height: 100vh;
        flex: 1;
        padding: 2rem;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 768px) and (min-height: 540px) {
            display: flex;
            background-image: linear-gradient(0deg, #565656 0%, rgba(196, 196, 196, 0) 30%),
            url('~src/assets/images/login_bg.png');
            background-size: cover;
            background-position: center 0;
        }

        sr-logo {
            font-size: 24px;
        }

        &_footer {
            flex-grow: 1;
            display: flex;
            gap: 24px;
            flex-flow: row nowrap;
            align-items: flex-end;

            .mat-icon {
                height: 40px;
                width: auto;
                color: #ffffff;
                cursor: pointer;
                transition: transform .1s;
                will-change: transform;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .right-side {
        display: flex;
        flex: 1;
        min-height: 100vh;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        padding: 2rem;
    }
}
