//.dashboard-wrapper {
//    display: flex;
//    flex-flow: row nowrap;
//    min-height: 100vh;
//    font-family: Geometria, sans-serif;
//
//    .left-side {
//        background: #f9f9f9;
//        width: 100%;
//        height: 100%;
//        max-width: 100%;
//        display: flex;
//        flex-flow: column nowrap;
//        position: fixed;
//        left: -100%;
//        transition: left .2s ease;
//        z-index: 2;
//
//        sr-logo {
//            text-align: center;
//            font-size: 24px;
//            padding: 48px 0 24px;
//            display: none;
//            color: #8f96a6;
//            cursor: pointer;
//        }
//
//        .services-container {
//            margin: 24px auto;
//            width: 240px;
//            flex-grow: 1;
//
//            .services-grid {
//                display: flex;
//                flex-flow: row wrap;
//                justify-content: center;
//                align-items: flex-start;
//                list-style: none;
//                margin: 0;
//
//                .service-item {
//                    cursor: pointer;
//                    padding: 10px 20px;
//                    flex: 1;
//                    position: relative;
//                    text-decoration: none;
//
//                    &_icon {
//                        width: 70px;
//                        height: 70px;
//                        border-radius: 10px;
//                        background: #eceef9;
//                        display: flex;
//                        align-items: center;
//                        justify-content: center;
//                        color: #565656;
//                        margin: 0 auto;
//                        transition: background-color .1s;
//                        position: relative;
//
//                        .mat-icon {
//                            width: 30px;
//                            height: unset;
//                            transition: color .1s;
//                        }
//
//                        .service-item_badge {
//                            width: 20px;
//                            height: 20px;
//                            border-radius: 50%;
//                            background: #c24747;
//                            position: absolute;
//                            top: -4px;
//                            right: -4px;
//                            border: 4px solid #f9f9f9;
//                        }
//                    }
//
//                    &_title {
//                        color: #979EAB;
//                        font-size: 12px;
//                        line-height: 20px;
//                        margin-top: 8px;
//                        display: block;
//                        text-align: center;
//                        transition: font-weight .1s, color .1s;
//                    }
//
//                    &:hover, &:focus-visible, &.active {
//                        .service-item_icon {
//                            background: var(--component-primary);
//                            color: var(--component-color-primary);
//                        }
//
//                        .service-item_title {
//                            font-weight: 700;
//                            color: #565656;
//                        }
//                    }
//                }
//            }
//        }
//
//        .dashboard-homepage {
//            height: 50px;
//            display: flex;
//            flex-flow: row nowrap;
//            justify-content: center;
//            align-items: center;
//            background: #eceef9;
//            color: #979EAB;
//            text-decoration: none;
//            transition: color .1s, background-color .1s;
//            font-size: 16px;
//            line-height: 24px;
//            gap: 16px;
//
//            &:hover, &:focus-visible, &.active {
//                background: var(--component-primary);
//                color: var(--component-color-primary);
//            }
//        }
//
//        @media screen and (min-width: 1280px) {
//            position: sticky;
//            top: 0;
//            max-width: 280px;
//
//            sr-logo {
//                display: block;
//            }
//        }
//
//        &.opened {
//            left: 0;
//        }
//    }
//
//    .central-wrapper {
//        width: 100%;
//    }
//}

.dashboard-wrapper {
    display: flex;
    flex-flow: row nowrap;
    min-height: 100vh;
    font-family: Geometria, sans-serif;
    overflow: hidden;

    .left-side {
        background: var(--component-primary);
        color: var(--component-color-primary);
        width: 100%;
        max-width: min(80%, 280px);
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        position: fixed;
        left: -120%;
        transition: left .2s ease;
        z-index: 8;

        &_logo {
            display: none;
        }

        &_user {
            padding: 2rem 1rem;
            display: flex;
            flex-flow: column;
            align-items: center;
            border-bottom: 1px solid #ffffff;

            &-avatar {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                overflow: hidden;
                background: #f9f9f9;
                margin-bottom: 16px;
            }

            &-name {
                font-size: 16px;
                line-height: 24px;
            }
        }

        &_services {
            overflow: auto;

            .services-grid {
                display: flex;
                flex-flow: column nowrap;

                .service-item, .service-log-out, .service-dashboard {
                    width: 100%;
                    border-bottom: 1px solid #ffffff;
                    padding: 16px 32px;
                    color: #ffffff;
                    text-decoration: none;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    gap: 16px;

                    &_icon {
                        .mat-icon {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }

                .service-log-out {
                    position: sticky;
                    bottom: 0;
                    background: #565656;
                    border: none;
                }
            }
        }

        .dashboard-homepage {
            display: none;
        }

        &.opened {
            left: 0;
        }
    }

    .left-side_overlay {
        background: rgba(0, 0, 0, .3);
        opacity: 0;
        transition: opacity .2s;
        position: fixed;
        top: 0;
        left: -120%;
        width: 100%;
        height: 100%;
        z-index: 7;

        &.opened {
            opacity: 1;
            left: 0;
        }
    }

    @media screen and (min-width: 1280px) {
        overflow: unset;

        .left-side {
            background: #f9f9f9;
            width: 100%;
            height: 100vh;
            max-width: 280px;
            flex-flow: column nowrap;
            position: sticky;
            top: 0;
            align-self: flex-start;
            left: unset;
            display: flex;

            &_logo {
                text-align: center;
                font-size: 24px;
                padding: 24px 0 24px;
                display: block;
                width: 100%;
                color: #8f96a6;
                cursor: pointer;
            }

            &_user, &_overlay {
                display: none;
            }

            &_services {
                padding: 0 20px;
                width: 100%;
                flex-grow: 1;
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                    background: transparent;
                }

                .services-grid {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    list-style: none;
                    margin: 0;

                    .service-dashboard, .service-log-out {
                        display: none;
                    }

                    .service-item {
                        cursor: pointer;
                        padding: 10px 20px;
                        flex: 1;
                        position: relative;
                        text-decoration: none;
                        border: none;
                        flex-flow: column;
                        gap: 0;
                        max-width: 50%;
                        justify-self: flex-start;

                        &_icon {
                            width: 70px;
                            height: 70px;
                            border-radius: 10px;
                            background: #eceef9;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #565656;
                            margin: 0 auto;
                            transition: background-color .1s;
                            position: relative;

                            .mat-icon {
                                width: 30px;
                                height: unset;
                                transition: color .1s;
                            }

                            .service-item_badge {
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background: #c24747;
                                position: absolute;
                                top: -4px;
                                right: -4px;
                                border: 4px solid #f9f9f9;
                            }
                        }

                        &_title {
                            color: #979EAB;
                            font-size: 12px;
                            line-height: 20px;
                            margin-top: 8px;
                            display: block;
                            text-align: center;
                            transition: font-weight .1s, color .1s;
                        }

                        &:hover, &:focus-visible, &.active {
                            .service-item_icon {
                                background: var(--component-primary);
                                color: var(--component-color-primary);
                            }

                            .service-item_title {
                                font-weight: 700;
                                color: #565656;
                            }
                        }
                    }
                }
            }

            .dashboard-homepage {
                height: 50px;
                min-height: 50px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                background: #eceef9;
                color: #979EAB;
                text-decoration: none;
                transition: color .1s, background-color .1s;
                font-size: 16px;
                line-height: 24px;
                gap: 16px;
                width: 100%;

                &:hover, &:focus-visible, &.active {
                    background: var(--component-primary);
                    color: var(--component-color-primary);
                }
            }
        }
    }

    .central-wrapper {
        width: 100%;
    }
}
