.main-logo {
    text-align: center;
    font-family: Geometria, sans-serif;
    font-size: 1em;
    line-height: 1.125em;
    display: inline-block;

    &_smart {
        font-weight: 700;
        color: #000000;
    }

    &_resident {
        font-weight: 200;
        color: #000000;
    }

    &_subtitle {
        font-size: .5em;
        line-height: 1.75em;
        color: currentColor;
        display: block;
        letter-spacing: .075em;
    }
}

.sr-kit_button.mat-button {
    border-radius: 100px;
    padding: 13px 26px;
    font-size: 18px;
    line-height: 24px;
    font-family: Geometria, sans-serif;

    &[data-size=m] {
        padding: 13px 26px;
        font-size: 18px;
        line-height: 24px;
    }

    &[data-color=primary] {
        background: var(--component-gradient);
        box-shadow: var(--component-shadow);
        color: var(--component-color-primary);
    }
}

.sr-kit_link {
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: var(--component-primary);
    text-decoration: none;

    &:hover .mat-button-focus-overlay {
        background: transparent;
    }
}
