:root {
    --component-gradient: linear-gradient(96.73deg, #B46EC2 44.73%, #C85C8D 82.47%);
    --component-shadow: 0px 5px 6px rgba(199, 93, 144, 0.25);
    --component-color-primary: #ffffff;
    --component-primary: #B46EC2;
    --component-secondary: #C85C8D;
}
