<sr-header></sr-header>
<div class="main-wrapper">
    <sr-sub-header
        title="GESTION DES ACTIONS"
    ></sr-sub-header>

    <div class="content">
        <p class="section-title">
            Tenant management
        </p>

        <div class="banner-grid">
            <banner
                [title]="{count: 1, type: 'tenant request'}"
                tenant="Alberto Gazzolini"
                type="payment problem"
                address="3 floor 168 apartment"
                date="2022-04-26T18:14:34.729Z"
                buttonText="Learn more"
            >
            </banner>
            <banner
                [title]="{count: 1, type: 'tenant request'}"
                tenant="Alberto Gazzolini"
                type="payment problem"
                address="3 floor 168 apartment"
                date="2022-04-26T18:14:34.729Z"
                buttonText="Learn more"
            >
            </banner>
        </div>
    </div>
</div>
