<sr-header></sr-header>
<div class="main-wrapper">
    <sr-sub-header
        title="EQUITY MANAGEMENT"
    ></sr-sub-header>

    <div class="content">
        <p class="section-title">
            Tenant management
        </p>

        <div class="banner-grid">
            <banner
                [title]="{count: 1, type: 'tenant request'}"
                tenant="Alberto Gazzolini"
                actionType="mentioned a"
                action="payment problem"
                address="3 floor 168 apartment"
                date="2022-04-26T18:14:34.729Z"
                buttonText="Learn more"
            >
            </banner>
            <banner
                [title]="{count: 1, type: 'tenant request'}"
                tenant="Alberto Gazzolini"
                actionType="mentioned a"
                action="payment problem"
                address="3 floor 168 apartment"
                date="2022-04-26T18:14:34.729Z"
                buttonText="Learn more"
            >
            </banner>
            <banner
                [title]="{count: 1, type: 'tenant request'}"
                tenant="Alberto Gazzolini"
                actionType="mentioned a"
                action="payment problem"
                address="3 floor 168 apartment"
                date="2022-04-26T18:14:34.729Z"
                buttonText="Learn more"
            >
            </banner>

            <button mat-button class="sr-kit_button view-more" data-color="secondary">
                View all
            </button>
        </div>

        <p class="section-title">
            Advertisement
        </p>

        <div class="banner-grid">
            <banner
                [title]="{count: 1, type: 'ad to approve'}"
                tenant="Alberto Gazzolini"
                actionType="posted an ad in category"
                action="furniture"
                address="3 floor 168 apartment"
                date="2022-04-26T18:14:34.729Z"
                buttonText="Approve ad"
            >
            </banner>
            <banner
                [title]="{count: 1, type: 'ad to approve'}"
                tenant="Alberto Gazzolini"
                actionType="posted an ad in category"
                action="furniture"
                address="3 floor 168 apartment"
                date="2022-04-26T18:14:34.729Z"
                buttonText="Approve ad"
            >
            </banner>

            <button mat-button class="sr-kit_button view-more" data-color="secondary">
                View all
            </button>
        </div>

        <p class="section-title">
            Sponsorship
        </p>

        <div class="banner-grid">
            <banner
                [title]="{count: 1, type: 'tenant quote'}"
                tenant="Alberto Gazzolini"
                actionType="offers you an"
                action="application"
                address="3 floor 168 apartment"
                date="2022-04-26T18:14:34.729Z"
                buttonText="See application"
            >
            </banner>
            <banner
                [title]="{count: 1, type: 'tenant quote'}"
                tenant="Alberto Gazzolini"
                actionType="offers you an"
                action="application"
                address="3 floor 168 apartment"
                date="2022-04-26T18:14:34.729Z"
                buttonText="See application"
            >
            </banner>

            <button mat-button class="sr-kit_button view-more" data-color="secondary">
                View all
            </button>
        </div>

        <p class="section-title">
            Interventions & incidents
        </p>

        <div class="intervention-grid">
            <div class="intervention-card submitted">
                <span class="count">6</span>
                <span class="title">Submitted</span>
                <a class="link">EXPLORE</a>
            </div>

            <div class="intervention-card ongoing">
                <span class="count">24</span>
                <span class="title">In process</span>
                <a class="link">HANDLE</a>
            </div>

            <div class="intervention-card closed">
                <span class="count">87</span>
                <span class="title">Solved</span>
                <a class="link">SEE RATINGS</a>
            </div>
        </div>
    </div>
</div>
<sr-right-panel
    [background]="true"
></sr-right-panel>
