.right-panel {
    background: #f9f9f9;
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    gap: 16px;
    width: 100%;
    max-width: min(90%, 300px);
    min-width: 300px;
    height: 100%;
    top: 0;
    right: -120%;
    z-index: 8;
    transition: right .2s ease;
    box-shadow: -8px 0 16px rgba(0,0,0,.15);
    padding: 24px;
    overflow: auto;

    &.opened {
        right: 0;
    }

    .user-profile {
        display: none;
    }
}

.right-panel_overlay.disabled, .right-panel.profile-only {
    display: none;
}

.right-panel_overlay {
    background: rgba(0, 0, 0, .3);
    opacity: 0;
    transition: opacity .2s;
    position: fixed;
    top: 0;
    left: -120%;
    width: 100%;
    height: 100%;
    z-index: 7;

    &.opened {
        opacity: 1;
        left: 0;
    }
}

@media screen and (min-width: 1280px) {
    .right-panel {
        position: sticky;
        right: unset;
        top: 0;
        box-shadow: none;
        height: 100vh;
        // something added

        &_overlay {
            display: none;
        }

        .user-profile {
            margin-bottom: 16px;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            .text-wrapper {
                text-align: left;

                .welcome-message {
                    font-size: 12px;
                    line-height: 18px;
                    color: #565656;
                }

                .username {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 700;
                    color: #000;
                }
            }

            .avatar {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background: #eecde3;
                font-size: 24px;
                line-height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .right-panel.profile-only {
        background: none;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        box-shadow: none;
        padding: 24px 48px;
        overflow: visible;
    }
}
